.dentists {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.dentists h4,
.services h4 {
  color: #07a5e2;
  width: max-content;
  margin: 5px auto;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  border: 1px solid #07a5e2;
  padding: 8px 16px;
  letter-spacing: 1px;
  border-radius: 25px;
}
.dentists h1,
.services h1 {
  font-family: "Jost", sans-serif;
  font-size: 32px;
  line-height: 1.4;
  margin: 10px auto;
  color: #07a5e2;
  font-weight: 400;
}
.dentists h1 span,
.services h1 span {
  font-weight: 600;
}

@media (max-width: 668px) {
  .dentists h1,
  .services h1 {
    font-size: 24px;
  }
}
